/*******************************************************************
// 설명 : 프로젝트 공통적인 스타일링
********************************************************************/
@import 'font.scss';
@import 'variables.scss';

@import "~vuetify/src/styles/styles.sass";

/** 전역 기본 폰트 커스텀 */
html{
  background-color: $color-basic-bg;
}
#app{
  @include customFont(Noto Sans CJK KR,normal,normal);
  letter-spacing: 0.05rem;
  color: $color-basic;
  background-color: $color-basic-bg;
  /*Router Transition*/
  //.page-enter-active, .page-leave-active{
  //  transition: opacity .3s;
  //}
  //.page-enter, .page-leave-to{
  //  opacity: 0;
  //};

  .app{
    width: 1920px;
    min-height: 970px;
    height: auto;
    margin: 0 auto;
  }
}

/**  전역 Views Page Layout 영역 */
.containerLayout{
  box-sizing: border-box;
  position: relative;
  left: 97px;
  width: 1715px;
  max-width: 1715px;
  min-width: 1715px;
  min-height: 970px;
  height: auto;
  margin: 110px auto 0;
  padding: 20px;
}

/** common button 스타일링 커스텀 영역 */
.btn{
  border-radius: $border-radius-root;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight:normal;
  padding-right:3px;
  padding-left:3px;

  &.mid{min-width:90px; height:32px; font-size: $font-14;}
  &.sm{min-width:70px; height:24px; font-size: $font-12;}
  &.lrg{width:100%; height:45px; font-size: $font-20;}
  &.bg_green{background-color:  $color-main; color: $color-light-font;}
  &.bg_lightgreen{background-color: $color-sub; color: $color-main;}
  &.line_green{border:1px solid  $color-main; color: $color-main;}
  &.bg_org{background-color: $normal-color-main ; color: $color-light-font;}
  &.bg_lightorg{background-color: $normal-color-sub; color: $color-light-font;}
  &.line_org{border:1px solid $normal-color-main ; color: $normal-color-main ;}
}

/** check button 스타일링 커스텀 영역 */
//input & textarea 공통 커스텀
input[type="text"],textarea,select{
  outline: none;
  &::placeholder{
    color: $color-action;
  }

  &:focus{
    border: 1px solid $color-sub;
  }
}

/****************************************************************************
 input[type="checkbox & radio"] 기본속성 제거 및 체크박스 & 라디오박스 공통 속성
****************************************************************************/
[type="checkbox"], [type="radio"]{
  &:checked, &:not(:checked){
    position: absolute;
    left: -9999px;
  }
}
input.checkbx[type="checkbox"],input.radiobx[type="radio"]{
  &:checked + label, &:not(:checked) + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  &:checked + label:before, &:not(:checked) + label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid $color-border;
    background: $color-white;
  }
  &:checked + label:after, &:not(:checked) + label:after{
    content: '';
    position: absolute;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

/** 체크박스 커스텀 스타일링 영역 */
input.checkbx[type="checkbox"]{
  &:checked + label:before, &:not(:checked) + label:before{
    width: 18px;
    height: 18px;
  }
  &:checked + label:after, &:not(:checked) + label:after{
    top: 0px;
    left: 5px;
    height: 13px;
    width: 8px;
    border-bottom: 3px solid $color-sub;
    border-right: 3px solid $color-sub;
  }
  &:not(:checked) + label:after{
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    transform: rotate(35deg);
  }

  &:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    transform: rotate(45deg);
  }
}

/** 라디오 박스 커스텀 스타일링 영역 */
   input.radiobx[type="radio"] {
     &:checked + label:before, &:not(:checked) + label:before{
       width: 20px;
       height: 20px;
       border-radius: ($border-radius-root)x4;
     }
     &:checked + label:after, &:not(:checked) + label:after{
       top: 3px;
       left:3px;
       border-radius: 16px;
       width: 16px;
       height: 16px;
       background: $color-sub;
     }
     &:not(:checked) + label:after{
       opacity: 0;
       -webkit-transform: scale(0);
       transform: scale(0);
     }
     &:checked + label:after {
       opacity: 1;
       -webkit-transform: scale(1);
       transform: scale(1);
     }
   }

/** select, inputText 스타일링 커스텀 영역 */
input[type="text"],select {
  width: 100%;
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid $color-border;
  box-sizing: border-box;
}

select{
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
}
