/*******************************************************************
// 설명 : 프로젝트 공통 스크롤바 커스텀 스타일링
// 사용 팁 : 가로 & 세로 스크롤바 스타일링 가능
// 사용 법 : @include customScrollBar();
********************************************************************/

@mixin customScrollBar($width: 5px, $height: 5px, $color: #88BFB5, $radius: 3px) {
  /* width */
  &::-webkit-scrollbar {
    width: $width !important;
    height: $height !important;
  }

  /* Track */
  &::-webkit-scrollbar-track:vertical {
    background: white;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb:vertical {
    background: $color;
    border-radius: $radius;
  }
}
