/*******************************************************************
// 설명 : Page List Form의 기본 구조의 스타일링입니다.
// 사용 :  @import '~@/assets/scss/_index.scss';
********************************************************************/
@import './variables.scss';

#app{
  .boardLayout{
    max-width: 1680px;
    min-height: 625px;
    height: auto;
    margin: 10px auto 0 auto;
    border: 1px solid $color-bg-border;
    border-radius:  $border-radius-root;
    background-color: $color-white;

    .title{
      width: 1612px;
      margin: 40px auto 0;
      font-size: $font-16;
      font-weight: bold;

      div>span{
       padding-right: 5px;
      }

      .selectbx{
        select{
          width: 260px;
          height: 30px;
          padding: 0 10px;
          background:url('~@/assets/images/icons/search.svg') no-repeat 226px center;
          font-size: $font-12;
          color: $color-action;

          option {
            height: 20px;
            color:  $color-basic;
            font-size: $font-20;
          }
        }
      }
    }

    table{
      display: block;
      width: 1612px;
      max-width: 1612px;
      height: auto;
      min-height: 436px;
      margin: 20px auto 15px;
      padding-bottom: 15px;
      overflow: auto;
      background: url("~@/assets/images/icons/not_find_info.svg") no-repeat 50% 20%;

      thead{
        tr{
          th{
            position: relative;
            height:52px;
            width: 1612px;
            background: $color-table-bg;
            border-top:1px solid $color-border;
            border-bottom:1px solid $color-border;
            font-size:13px;

            .spot{
              position: absolute;
              left: 30px;
            }

            span{
              height: inherit;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
      tbody{
        td{
          position: relative;
          height:52px;
          border-bottom:1px solid $color-border;
          font-size: $font-13;
          background-color: $color-white;
          .spot{
            position: absolute;
            left: 30px;
          }

          span{
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;

            button{
              height: 25px;
              font-size: inherit;
            }
          }
        }
      }
    }
  }
}
