/*******************************************************************
// 설명 : Page List Form의 기본 구조의 스타일링입니다.
// 사용 :  @import '~@/assets/scss/_index.scss';
********************************************************************/
@import './variables.scss';

.containerLayout {
    .content {
      width: 99%;
      height: 60px;
      overflow: hidden;

      .menuNav {
        width: 220px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $font-12;
        color: $color-span;

        span:last-child {
          color: $color-basic;
        }
      }

      .title {
        display: inline-block;
        margin-top: 5px;
        font-size: $font-24 !important;
      }
    }
  }