/*******************************************************************
// 설명 : 프로젝트 전체에 적용되는 변수에 대해 정의
// 주의 : 컴포넌트 갯수 만큼 실행되기 때문에 변수에 대해서만 정의해야합니다.
********************************************************************/

@import "~vuetify/src/styles/styles.sass";

//폰트 사이즈 및 기타
/////////////////////////////////////////////
$font-size-root: 100%;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$border-radius-root: 5px;

// 사용자 정의 변수
////////////////////////////////////////////

/** 메인 컬러 & 서브 컬러 */
// super 관리자
$color-main : #07403A;
$color-sub : #88BFB5;

// 입점업체 관리자
$normal-color-main : #F28705;
$normal-color-sub : #F2B705;

// 폰트 컬러
$color-basic : #042623;
$color-light-font : #F9F9F9;
$color-span : #696969;
$color-black : #333333;
$color-disabled : #C4C4C4;
$color-placeholder : #C8C8C8;

// 액션 폰트
$color-action-font : #D6843C;

//border-line 컬러
$color-point : #C4DBD7;
$color-bg-border : #ECECEC;
$color-action : #BDBDBD;

//borderBox 컬러영역
$color-border : #E5E5E5;

//배경 기본 컬러
$color-white : #FFFFFF;
$color-table-bg : #EFF5F4;
$color-basic-bg : #F9F9F9;

// threeDepths 컬러
$color-bg-main : rgba(160, 202, 193, 0.5);
$color-bg-sub : rgba(206, 227, 223, 0.5);
$color-bg-depth: rgba(232, 242, 240, 0.5);
